.imgContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin: 30px;
}

.imgContainer img{
    border-radius: 40px;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}

.imgContainer img:hover{
    border-radius: 0px;
    border: 6px solid rgb(7, 7, 7);
    transition: all 1s;
}


#buttonDowload{
    margin-top: 10px;
    margin-bottom: 20px;
}





@media (max-width: 900px) {
    .imgContainer{
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (max-width: 750px) {
    .imgContainer{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 600px) {
    .imgContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 400px) {
    .imgContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}