.imgContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin: 20px;
}

.imgContainer img{
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}

.imgContainer img:hover{
    scale: 1.2;
    transition: all 1s;
}