.imgContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin: 20px;
}

.imgContainer img{
    border-radius: 40px;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}

.imgContainer img:hover{
    border-radius: 0px;
    border: 6px solid rgb(7, 7, 7);
    transition: all 1s;
}