*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  color: rgb(184, 184, 184);
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(27, 27, 27) 3%, rgb(20, 20, 20) 38%, rgb(12, 12, 12) 68%, rgb(7, 7, 7) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wave {
  background: rgba(49, 49, 49, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 10s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 10s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
/*To Do*/
.ulToDo {
  margin: 0;
  padding: 0;
  background: rgb(26, 26, 26);
}
.ulToDo .liToDo {
  position: relative;
}

.inputToDo {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1px;
  vertical-align: sub;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  outline: none;
}
.inputToDo:checked + .labelToDo {
  text-decoration: line-through;
  font-weight: 600;
}
.inputToDo:checked + .labelToDo:hover {
  border-bottom-color: rgb(83, 2, 2);
}
.inputToDo:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.inputToDo:focus, .inputToDo:hover {
  box-shadow: 0 0 0 3px rgb(20, 20, 20);
}

/*checkbox*/
.inputToDo {
  -webkit-appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.inputToDo::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.inputToDo:checked::before {
  transform: scale(1);
}

/*Fin checkbox*/
.labelToDo {
  padding: 0.75rem 1rem 0.75rem 2.7rem;
  display: inline-block;
  font-size: 17px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 2px solid rgb(20, 20, 20);
  color: #b4b4b4;
  cursor: pointer;
}
.labelToDo:hover {
  border-bottom-color: rgb(0, 58, 8);
}/*# sourceMappingURL=index.css.map */