.marquee {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    overflow: hidden;
}

.marquee li img{
    width: 400px;
    margin: 5px;
    border-radius: 20px;
    object-fit: cover;
}


.marquee__content {
    display: flex;
    list-style: none;
    animation: scrolling 60s linear infinite;
}

.marquee__item img{
    flex-shrink: 0;
}



@keyframes scrolling {
    0% { transform: translateX(0)}

    100% { transform: translateX(-140%)}
}