.formLogin *{
    color: #b4b4b4;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.formLogin{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    height: 500px;
    width: 60%;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.formLogin h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: rgb(15, 15, 15);
    color: #b4b4b4;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(26, 26, 26);
    transition: all .8s;
}

button:active{
    scale: .8;
    transition: all .5s;
}

.social{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social div{
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #b4b4b4;
    text-align: center;
}

.social div:hover{
    background-color: rgb(15, 15, 15);
    transition: all .8s;
}

.social div:active{
    scale: .8;
    transition: all .5s;
}

.social .fb{
    margin-left: 25px;
}